<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RenameTool_3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RenameTool_3.Properties.Settings>
            <setting name="autosplit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setorclear" serializeAs="String">
                <value>False</value>
            </setting>
        </RenameTool_3.Properties.Settings>
    </userSettings>
</configuration>